.thumbnail{overflow: hidden;}
.thumbnail img:hover{cursor:pointer;transform: scale3d(1.7,1.7,1);}
.thumbnail img{transition:all 1.2s ease .25s;}
#Keyshot3D{width: 350px;height: 350px;margin: 20px auto;}
#Keyshot3D iframe{width: 350px;height: 350px;border: none}
h2,h3,h4,h5{color: #39c;padding: 0 0 5px 0}
#descript .panel-heading{padding: 0;}
#descript{color: #555}
.nav-tabs{position: relative;bottom: -1px;}
#show{position: relative;}
#buy{position: absolute;bottom: 20px;right: 0;background: #f6f6f6;padding: 20px 10px}
#copy{background: #efefef;padding: 20px;margin-top: 20px;}
#copy .media{width: 100%}
#chart{width:600px;height: 400px;margin: 10px -15px;}
#waterflow{width:600px;margin: auto auto;}
#waterflow .panel-body{background: #f7f7f7;font-style: italic;}
.navbar-brand img{margin: -17px 25px}