-inherit file="base.html"

  -def len2()
    -py
      name = user['name'] if len(user['lists']) > 3 else 'No'
    ==name
  -def classes()
    -py
      class_list = ['apple','banana','orange']
    ==parent.classes()
    ==,'class="'+ ' '.join(class_list)+'"'
  p hello ${self.len2()}
  p ${self.classes()}
  <div ${self.classes()}>123</div>
  input value=user['name']
  h1 123
  li#content.exapl
    p Nes
  hello
  a style="margin: 0 5px" href="baidu.com" baidu
  = user['name']

  -md
    Use Markdown
    ============

    See the syntax on [this page][1].

    [1]: http://daringfireball.net/projects/markdown/basics

  ul: -for link in user['lists']:li:a href=link =link
